/* Header */

header{
  width: 100%;
  height: 10vh;
}

header .left, .right{
  width: 50%;
  gap: 1.5rem
}

header .container{
  height: inherit;
  margin: 0 3%;
}

header .logo{
  color: var(--red);
  font-family: 'Netflix Sans Icon';
  font-size: 1.5rem;
}

header .nav{
  width: 30rem;
  color: var(--smokeWhite);
  margin-left: 4%;
}

header .nav span{
  cursor: pointer;
}

header .right{
  color: var(--white);
}

header .user-image{
  width: 8%;
  height: 6vh;
  background-image: url('../../assets/default-user-image.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Highlights */

section .highlights{
  width: 100%;
  height: 80vh;
}

section .container-info{
  width: 100%;
  height: 80vh;
  padding-left: 3%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, .7) 50%,
    rgba(109, 109, 110, 0.7) 100%
  );
}

section h1.title{
  font-family: 'Netflix Sans Bold';
  font-size: 4em;
  color: var(--white)
}

section span.info{
  font-size: 1.5em;
  color: var(--white);
}

section button{
  background-color: var(--midGray);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 2% 6%;
  margin-top: 3%;
  color: var(--white);
  font-size: 1.2em;
  font-family: 'Netflix Sans Regular';
  cursor: pointer;
}

section button .margin{
  margin-right: 10px;
}

section button:hover{
  border: 1px solid var(--white);
  background-color: var(--gray90);
  transition: .3s ease all;
}

section .demo{
  width: 70%;
  position: absolute;
  z-index: -1;
  height: 80vh;
}

