header{
  width: 100%;
  height: 10vh;
}

header .left, .right{
  width: 50%;
  gap: 1.5rem
}

header .container{
  height: inherit;
  margin: 0 3%;
}

header .logo{
  color: var(--red);
  font-family: 'Netflix Sans Icon';
  font-size: 1.5rem;
}

header .nav{
  width: 30rem;
  color: var(--smokeWhite);
  margin-left: 4%;
}

header .nav span{
  cursor: pointer;
}

header .right{
  color: var(--white);
}

header .user-image{
  width: 8%;
  height: 6vh;
  background-image: url('../../assets/default-user-image.png');
  background-size: contain;
  background-repeat: no-repeat;
}