.flex-row{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.content-center{
  justify-content: center;
}

.content-between{
  justify-content: space-between;
}

.content-around{
  justify-content: space-around;
}

.items-center{
  align-items: center;
}