.container-geral{
  width: 100vw;
  height: 50vh;
  overflow-x: auto;

}

.cardsContainer{
  width: 20%;
  height: 100%;
  flex: none;
}

.cards{
  width: 90%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;
}