.container-geral{
  width: 100vw;
  height: 50vh;
}

.cardsContainer{
  width: 85%;
  height: 100%;
}

.cards{
  width: 90%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;
  
}